---
---
<html lang="en-AU"><head>
<meta charset="utf-8" />
<link rel="canonical" href="https://peninsulainsider.com.au/eat/port-phillip-estate/" />
<meta http-equiv="refresh" content="0; url=/eat/port-phillip-estate/" />
<title>Port Phillip Estate Restaurant · Peninsula Insider</title>
</head><body><a href="/eat/port-phillip-estate/">Redirecting to Port Phillip Estate…</a></body></html>
